[Desktop Entry]
Name=TOTPgen
Comment=TOTP/HOTP Password Generator
Comment[ru]=Генератор паролей TOTP/HOTP
Icon=totpgen
Exec=totpgen
Type=Application
Categories=System;
Terminal=false
